body{
  margin: 0px;
}

#top-banner {
  height: 80px;
  background-color: white;
  position: relative;
}

#banner-title-tabs-icons {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 96.125%;
  height: 75%;

  vertical-align: middle;
}

.title {
  display: flex;
  align-items: center;
  float: left;

  margin-right: 7%;

  height: 100%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}



.title h2 {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 25px;
  color: black;

  vertical-align: middle;
}

#menu-tabs {
  height: 100%;

  display: flex;
  align-items: center;
  float: left;

  padding-top: .20rem;
  padding-right: 5px;
  padding-left: 5%;

}

#menu-tabs h4{
  display: inline-block;

  padding-left: 10px;
  padding-right: 10px;

  font-family: 'Ropa Sans', sans-serif;
  font-style: oblique;
  font-weight: 550;
  color: black;

  vertical-align: middle;
}

#menu-icons {
  height: 100%;

  display: flex;
  align-items: center;
  float: right;

}

#menu-icons i{
  font-size: 30px;
  padding-right: .6rem;

}

#linkedin-icon {
  text-decoration: none;
  color: black;

  border: none;
}

#facebook-icon {
  text-decoration: none;
  color: black;

}

#email-icon {
  text-decoration: none;
  color: black;

}

#bg1 {
  width:100%;
  height: 600px;
  background-image: url(http://i.imgur.com/kv94f8L.jpg);
  background-size: cover;
  background-position: center bottom;
  padding: 0px;

}

#welcome-message {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 35px;
  color: white;

  padding-left: 180px;
  padding-top: 200px;
}

#welcome-message h2{
  margin: 0;
}

#quote-div{
  height: 200px;

  /*text-align: center;*/
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;

}

#quote {
  text-align: center;
  width: 100%;
}

#quote h1{
  margin: 0;

  font-family: 'Ropa Sans', sans-serif;
}

.break hr {
  display: flex;
  width: 90%;

  text-align: center;
  color: grey;

  margin-top: 0;
  margin-bottom: 0;

}

.project-content {

}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

#pi-img{
  margin-left: 25px;
  margin-right: 25px;
  height: 50px;
}

.about-me-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 400px;
  grid-template-areas: . main main .;
}

.content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

}

.projects {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

}

.photos {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

}

.resume {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

}

.container {
  /*all style for this is within the html*/
  
}